.leaflet-tooltip-left {
  background-color: transparent;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border: none;
  box-shadow: gray;
}

.leaflet-tooltip-left.leaflet-tooltip-visible {
  opacity: 1;
  border: none;
}
.leaflet-tooltip-left:before {
  right: 0;
  margin-right: -12px;
  border-left-color: rgba(0, 0, 0, 0.4);
}
.leaflet-tooltip-right:before {
  left: 0;
  margin-left: -12px;
  border-right-color: rgba(0, 0, 0, 0.4);
}

.leaflet-tooltip-right {
  background-color: transparent;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border: none;
}

.leaflet-tooltip-right.leaflet-tooltip-visible {
  opacity: 1;
  border: none;
}
